body{
    background-image: url('https://wallpaperaccess.com/full/1543711.jpg');
   
    background-size: cover;
    
    background-repeat: repeat;
    
    height: 100vh;
    padding:0;
    margin:0;
}
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 200px !important;
}
.panel-body {
	background: #f2ebeb;
	
}

.carousel .item{
    height: 200px;
}

.item img {
    position: relative;
    top: 0;
    left: 0;
    min-height: 300px;
}

#searchCard{
	margin-left: 30px;
    margin-right: 30px;

}